* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


[v-cloak] {
    display: none;
}

.sfondo {
    width: 100%;
    height: 100vh;
    position: relative;

}


.sopra {
    background-color: rgb(25, 64, 25);
    height: 15%;
}

.sotto {
    background-color: rgb(167, 164, 161);
    height: calc(100% - 15%);
}

.centro {
    background-color: rgb(186, 179, 136);
    position: absolute;
    height: 80%;
    width: 80%;
    top: 80px;
    right: calc(100% - 90%);
    display: flex;
    justify-content: space-around;
}

.sx {
    background-color: rgb(143, 122, 82);
    width: 35%;
}

.dx {
    background-color: rgb(128, 138, 191);
    width: 65%;
}


img {
    width: 10%;
    height: 2%;
}

/* HEADERS */
header {
    background-color: red;
    height: 50px;
}

/* SX */
.sx header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.contact {
    display: flex;
    align-items: center;
}

.foto {
    background-color: blue;
    border-radius: 50%;
   

}

.nome {
    padding-left: 10px;
}

.icons .fa-solid {
    padding: 5px;
}


/* NAV */
nav {

    height: 150px;

}

.notifiche {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgb(180, 240, 220);

}

.bell {
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
}

.tip {
    font-weight: 600;
}

.desktop {
    text-decoration: underline;
    color: rgb(177, 173, 173);
}

.search {
    height: 75px;
    display: flex;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.glasso {
    padding: 10px;
   
}

.bar {
    width: 90%;
}

/* SX MAIN */

.sx main {
    background-color: rgb(18, 123, 88);
    height: calc(100% - 200px);
}

.units {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.generals {
    display: flex;
}

.profile {
    height: 60%;
    width: 15%;
    background-color: white;
}

.person {
    padding-left: 20px;
}


/* DX */


/* HEADER */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.tizio {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.chat {
    background-color: white;
}


/* MAIN */
.dx main {
    background-color: burlywood;
    height: calc(100% - 100px);
}

.area {
    padding: 10px 60px;
}

.recived {
    background-color: white;
    max-width: 30%;
    min-width: 20%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bianco {
    display: flex;
    justify-content: left;
    margin:  5px 10px;

}

.sent {
    background-color: lightgreen;
    max-width: 30%;
    min-width: 20%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.verde {
    display: flex;
    justify-content: right;
    margin:  5px 10px;

}

.text {
    display: flex;
    justify-content: flex-start;
   /*  padding-top: 5px; */
    padding-left: 10px;
    align-items: baseline;
}

.time {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

/* FOOTER */
footer {
    background-color: goldenrod;
    height: 50px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.write {
    width: 100%;
    display: flex;
    justify-content: center;
}

.invia {
    padding: 10px;
}